<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Your Cart is Empty!</h4>
  <p>There is no items in your shopping cart, back t home page to <a href="#" class="alert-link">continue shopping</a></p>
</div>